In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests

In [0]:
# 톨게이트 목록
key= '보안키'
url = 'http://data.ex.co.kr/exopenapi/basicinfo/unitList?serviceKey='+key+'&type=xml&exDivCode=10&numOfRows=20&pageNo=1'

In [0]:
load_name =[]
codename= ['00','01','02','08','10','11','18']

In [0]:
for r in codename:
  for i in range(0,10+1):
    url = 'http://data.ex.co.kr/exopenapi/basicinfo/unitList?serviceKey='+key+'&type=xml&exDivCode='+r+'&numOfRows=50&pageNo='+'%d' % i
    res = requests.get(url)
    rss = BeautifulSoup(res.text, 'lxml')
    html = BeautifulSoup(res.text, 'lxml')
    
    for load in rss.find_all('unitlists'):
        code              = load.exdivcode.text
        name             = load.exdivname.text
        openClName = load.openclname.text
        openClType   = load.opencltype.text
        unitcode         = load.unitcode.text
        unitname        = load.unitname.text
        load_name.append([code,name,openClName,openClType,unitcode,unitname])

In [0]:
b =pd.DataFrame(load_name)

In [0]:
b.to_csv('구분코드.csv',index=False,header=False)

In [0]:
c =pd.read_csv('구분코드.csv',
               names=['도공민자구분코드','코드명','개방구분','개방타입코드','영업소코드','영업소명'])

In [25]:
c

     도공민자구분코드 코드명 개방구분  개방타입코드  영업소코드    영업소명
0           0  도공   개방       1     11      인천
1           0  도공   개방       1     12  서영암(개)
2           0  도공   개방       1     13     순천만
3           0  도공   개방       1     29   가락(개)
4           0  도공   개방       1     53     남인천
5           0  도공   개방       1     56      일로
6           0  도공   개방       1     61      성남
7           0  도공   개방       1     62   구리남양주
8           0  도공   개방       1     63      토평
9           0  도공   개방       1     64      청계
10          0  도공   개방       1     65      판교
11          0  도공   개방       1     66      하남
12          0  도공   개방       1     67      시흥
13          0  도공   개방       1     68      김포
14          0  도공   개방       1     69    대왕판교
15          0  도공   개방       1     91   대동(개)
16          0  도공   개방       1     92      내서
17          0  도공   폐쇄       0    101      서울
18          0  도공   폐쇄       0    102     동수원
19          0  도공   폐쇄       0    103    수원신갈
20          0  도공   폐쇄       0    104      지곡
21          0  도공   폐쇄       0    105      기흥
22          0  도공   폐쇄       0    106      오산
23          0  도공   폐쇄       0    107      안성
24          0  도공   폐쇄       0    108      천안
25          0  도공   폐쇄       0    109      계룡
26          0  도공   폐쇄       0    110      목천
27          0  도공   폐쇄       0    111      청주
28          0  도공   폐쇄       0    112     남청주
29          0  도공   폐쇄       0    113     신탄진
..        ...  ..  ...     ...    ...     ...
483        10  민자   폐쇄       0    651     남양주
484        10  민자   폐쇄       0    652      화도
485        10  민자   폐쇄       0    653      서종
486        10  민자   폐쇄       0    654      설악
487        10  민자   폐쇄       0    655      강촌
488        10  민자   폐쇄       0    656     남춘천
489        10  민자   폐쇄       0    657      동산
490        10  민자   폐쇄       0    658      조양
491        11  민자   폐쇄       0    671      봉담
492        11  민자   폐쇄       0    672      정남
493        11  민자   폐쇄       0    673     북오산
494        11  민자   폐쇄       0    675     서오산
495        11  민자   폐쇄       0    676      향남
496        11  민자   폐쇄       0    677     북평택
497        11  민자   폐쇄       0    876      양감
498        11  민자   폐쇄       0    671      봉담
499        11  민자   폐쇄       0    672      정남
500        11  민자   폐쇄       0    673     북오산
501        11  민자   폐쇄       0    675     서오산
502        11  민자   폐쇄       0    676      향남
503        11  민자   폐쇄       0    677     북평택
504        11  민자   폐쇄       0    876      양감
505        18  민자   폐쇄       0    682      조암
506        18  민자   폐쇄       0    683    송산마도
507        18  민자   폐쇄       0    684     남안산
508        18  민자   폐쇄       0    685     서시흥
509        18  민자   폐쇄       0    682      조암
510        18  민자   폐쇄       0    683    송산마도
511        18  민자   폐쇄       0    684     남안산
512        18  민자   폐쇄       0    685     서시흥

[513 rows x 6 columns]